---
import "../styles/global.css";
import Header from "@/components/Header.astro";
import Layout from "@/layouts/main.astro";
import SectionHeader from "@/components/SectionHeader.astro";
import ExpereinceSection from "@/components/ExperienceSection.astro";
import { getCollection } from "astro:content";

const experiences = await getCollection("experience");
---

<Layout content={{ title: "Kipkirui Koech - Software Developer" }}>
  <Header />
  <main>
	<section id="about" class="relative py-16 animate-fade-in">
	  <div class="md:px-8 px-6 max-w-2xl mx-auto">
		<SectionHeader title="about" number="01"/>
		<div class="flex flex-col gap-4 text-lg font-light leading-7 max-w-xl">
          <p>
            I'm a software developer passionate about creating clean, responsive, and interactive web experiences. My journey started with curiosity about how modern websites work, which quickly turned into a drive to build things from scratch.
          </p>
          <p>
            I work mainly with React, Next.js, TypeScript, and Tailwind CSS — building modern UIs, responsive landing pages, and dynamic web applications. I focus on performance, usability, and clean component structure.
          </p>
        </div>
	  </div>
	</section>
	<section id="experience" class="relative py-16 animate-fade-in">
	  <div class="md:px-8 px-6 max-w-2xl mx-auto">
		<SectionHeader title="experience" number="02"/>
		<ExpereinceSection experiences={experiences}/>
	  
		<!-- <div class="flex flex-col gap-4 text-lg font-light leading-7 max-w-xl">
          <p>
            I'm a frontend developer passionate about creating clean, responsive, and interactive web experiences. My journey started with curiosity about how modern websites work, which quickly turned into a drive to build things from scratch.
          </p>
          <p>
            I work mainly with React, Next.js, TypeScript, and Tailwind CSS — building modern UIs, responsive landing pages, and dynamic web applications. I focus on performance, usability, and clean component structure.
          </p>
        </div> -->
	  </div>
	</section>
  </main>
</Layout>
